@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family:Outfit;
  scroll-behavior: smooth;
}


.app{

  width: 100%;
  margin: auto;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}



